@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}
/* header starts */
#navbar{
    z-index: 2;
   /* height: 4rem;*/
}
#navbar ul img{
    max-width: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
}
#navbar .navbar-brand img{
    z-index: 2;
}
#navbar a{
    color: white;
}
.navbar{
    padding:0px !important;
}
.navbar-white{
 background-color: white;
 transition: ease-in 0.2s;
}
 .navbar-white .item-selectable .colorgray{
    color: #828282 !important;
}

@media (max-width: 992px){
    .collapse {
        background-color: rgba(235, 95, 61,0.5);
        color: white;
        text-align: center;
    }
}

#burguer-btn{
    z-index: 2;
}

.busca:hover{
    cursor: pointer;
}
.search-bar{    
    z-index: 2;
    text-align: center;
    color: white !important;
    padding: 0.5rem;
    background-color: rgba(235, 95, 61,0.8);
    display:none;
}
#fecharbusca-white, #fecharbusca-black, #abrirbusca-black, #fecharbag-black{
    display: none;
}
.input-transparent{
    text-align: center;
    height:2rem;
    width:100%;
    padding-left:10px;
    border-radius: 4px;
    border:none;outline:none;
    background-color: rgba(255,255,255,0.0);
    color: white !important;
    font-style: italic !important;
}

#searchbar button{
    color:white;
    position:absolute;
    right: 0;
    top: 0;
    border:none;
    height:2rem;
    width:2rem;
    outline:none;
    text-align:center;
    font-weight:bold;
    padding:2px;
    background-color: rgba(255,255,255,0);
  }

.input-transparent::placeholder { /* Firefox, Chrome, Opera */ 
    color:  white !important; 
    font-style: italic !important;
} 
  
.input-transparent:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color:  white !important;
    font-style: italic !important;
} 
  
.input-transparent::-ms-input-placeholder { /* Microsoft Edge */ 
    color:  white !important;
    font-style: italic !important;
} 

.navbar #cartButton:hover{
    cursor: pointer;
}
.user:hover{
    cursor: pointer;
}
#userbox{
    display: none;
}
#userlogin{
    background-color: rgba(235, 95, 61,0.8);
    padding: 0.8rem;
    width:12rem;
    font-size: 0.8rem;
}

#userlogin hr{
    margin:0.05rem;
    width:100%;
    border-width: 0.1rem;
    border-color: rgba(235, 95, 61,0.4);
}
.bag:hover{
    cursor: pointer;
}
.badge{
font-size: 0.5rem;
}
#cart-box{
    display: none;
}
#cart{
    color: white !important;
    font-size: 0.9rem;
    z-index: 2;
}

#cart .table-responsive{
    padding: 1rem;
}

#cart .table-responsive span.shrink{
    font-size: 0.7rem;
    padding-right: 0.5rem;

}

#cart .table-responsive button{
    border: 1px solid white;
    background-color: transparent;
    color: white; 
    padding: 0.5rem;
    width: 100%;
}

#cart table{
    color: white;
    font-size: 1rem;
}

#cart table th {
    border: none !important;
}

#cart table td {
    border: none !important;
}

#cart table td b{
    white-space: nowrap;
}

#cart table td div{
    height: 5rem;
}

#cart > div{
    max-width: 30rem;
    background-color: rgba(235,95,61, 0.8); 
}



#cart img{
    max-height: 100%;
    margin: auto;
    padding-right: 0.2rem;
}


  

#banner-principal h1{
    font-size: 40px;
    font-weight: 200;
}
#banner-principal p{
    font-size: 12px;
    letter-spacing: 0.2rem;
}

.img1-banner{
    background-image: url(../img/banners/banner-home-um.jpg);
    background-position: center;
    background-size: cover;
}

#slide-bannerprincipal{
    
    align-items: center;
}

.slides  .slidechild{
    height: 100%;
    color: white;
    min-height: 90vh;
    display: flex; 
    align-items: center;
    justify-content: center;
}
.slidechild > div {
    width: 80%;
}
.slidechild > div > div {
    width: 28%;
}
#banner-principal-text{
    width: 360px;    
    padding: 100px 0px 10px 80px;
}

.slick-dots {
    bottom: 0px;  
    left: 0px; 
  }
  .slick-dots li
  {
      margin: 0;  
  }
.slick-dots li button:before
{
    font-size: 0.6rem;
    line-height: 0.6rem;  
    
    
}

.slick-dots li button:before {
    color: white !important;
    opacity: 1 !important;
}
.slick-dots li.slick-active button:before {
    color:orangered !important;
}


/* header ends */

/* content starts */
#swimwear-banners{
    padding: 0px;
    margin: 0px;
    
}

#swimwear-banners *{
    padding: 0px;
    margin: 0px;
}



#swimwear-banners .row{
    padding: 0;
}
#swimwear-banners > div{
    margin: 1px;
}

#swimwear-banners > div > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    margin: 1rem;
}

#swimwear-banners > div > img{
    margin: auto;
}
#swimwear-banners .swimwear-banners-inner .position-absolute{
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(235, 95, 61,0.8);
    display: none;    
    text-align: center;
}
#swimwear-banners .swimwear-banners-inner .position-absolute h1{
    font-weight: 200 !important;
}
#swimwear-banners .swimwear-banners-inner .position-absolute p{
    letter-spacing: 0.1rem;
    font-weight: 300 !important;
}
hr{
    border: 0.04rem solid white;
    width: 20%;
}
#swimwear-banners .swimwear-banners-inner:hover .position-absolute{
    display: block;
    cursor:pointer;
    transition: 0.5s;
    animation: text-white-to-black 0.5s ;
}
#banner-secondary{
    margin-top: 0.5rem;    
    min-height: 30rem;
    background-image: url(../img/banners/banner-paralax.jpg);
    background-position: center;
    background-size: cover;
}

#banner-secondary > .text {     
    min-height: 30rem;
}
#box-slides-vitrine{
    top: -8rem;
    z-index: 1;
}

#slides-vitrine .slide{
    
    background-color: white;
    padding: 0.2rem;
    margin-left: 0.5rem;
    text-align: center;
    font-size: 14px;
    line-height: 6px;
    
}
#slides-vitrine .slide img{    
    margin: auto;    
}
.slide:hover .btn-comprar{
    display: block;
    opacity: 1;
    transition: 0.2s;
}
.flexbox-slides{
    justify-content: center;
    align-items: center;
}
.vitrine-item-label{
    margin-top: 0.5rem;
    font-size: 0.8rem;
}
.btn-comprar{    
    opacity: 0;
}
.vitrine-item-label a{
    border: solid #eb5f3d 1px;
    color: #eb5f3d;
    padding: 10px;
    text-decoration: none;
    cursor:pointer;
}
.slick-arrow button{
    
}
.slick-prev:before, .slick-next:before {    
    font-size: 3rem !important;
    z-index: 2;
}
.slick-next {
    right: -0.1rem !important;
}
.slick-prev {
    left: -1.2rem !important;
}
/* content ends */

/* footer starts */
#blue-grandient{
    background-image: linear-gradient(to top, rgba(116, 202, 195,0.9), rgba(116, 202, 195,0.1));
    color: white;
    min-height: 38rem;
    font-size: 0.75rem;
}
footer hr{
    border-color: rgba(255,255,255,0.2); 
    border-width: 0.02rem
}
.extrabold{
    font-weight: 800 !important;
}
#footer-mapsite{
    margin-top: 2rem;
    line-height: 0.3rem;
    
}
#footer-mapsite .fa-instagram{
    font-size: 2rem;
}
#footer-mapsite{
    margin-left: 0px !important;
}
footer input{
    height:2rem;
    width:100%;
    padding-left:10px;
    border-radius: 4px;
    border:none;outline:none;
    background-color: rgba(255,255,255,0.2);
    
  }
  .buttonInside{
    position:relative;
    margin-bottom:10px;
    
  }
  footer button{
    position:absolute;
    right: 0rem;
    top: 0rem;
    border:none;
    height:2rem;
    width:2rem;
    outline:none;
    text-align:center;
    font-weight:bold;
    padding:2px;
    background-color: rgba(255,255,255,0);
  }
  button:hover{
    cursor:pointer;
  }

  #white-footer-bar{
    font-size: 0.50rem;
    padding-top:0.5rem; 
    padding-bottom:0.5rem; 
  }
  #white-footer-bar p{
      margin:1px;
      padding: 0.2rem;
  }
  
  footer a{
      color: white;
  }
  footer a:hover{
    color: white;
}
  
/* footer ends */

#btn-backtop{
    color: #828282;
    background-color: white;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    box-shadow:  0 0 1em #828282;
    font-size: 0.8rem;
    
}
#btn-backtop i{
    font-size: 1.2rem;
}
#btn-backtop:hover{
    cursor: pointer;
}

/**
 * ----------------------------------------
 * animations
 * ----------------------------------------
 */
 .scale-in-ver-top {
	-webkit-animation: scale-in-ver-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.scale-out-ver-top {
	-webkit-animation: scale-out-ver-top 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-ver-top 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }

  @-webkit-keyframes scale-out-ver-top {
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-out-ver-top {
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }

  @keyframes text-white-to-black {
    0% {
      color: white;
      opacity: 1;
      
    }
    100% {
      color: black;
      opacity: 1;
      
    }
  }